.body{
    background-color: #0A2647;
    background-image : url("images/mda.png");
    background-repeat: no-repeat;
    background-size: contain;

}
.text{
    color:white;
}
.white{
    padding-left: 15px;
    padding-top:10px;
}
.down{
    position: relative;
    left:50%;
}
.down1{
    margin-right:4px;
    width:150px;
    position:relative;
    left:37%;
}

.fit{
    position: relative;
    right:12%;
    color:black !important;
    background: darkorange!important;
}
.fit:hover{
    background: dodgerblue !important;
}
.size{
    width: 400px;
    position: relative;
    left:35%;
    margin-top: 50px;
}


fieldset{
    border-radius: 10px;

}
thead{
    background: white;
    position: sticky;
    top: 0;
}
.below{
    margin-top:30px;
    margin-left:350px;

}


.grad {
    border-width: thick;
    border-color: white!important;
}
body{
    overflow-x:hidden;

}
.bgcolor{
    background-color: #000036;
}
.down{
    margin-top:20px;
    position: relative;
}
.side{
    padding-left: 15px;
    padding-top:20px;

}
.alnright {
    text-align: center;
    margin-left:1em;
}
.fit1{
    color:#000036;
    position: relative;
    left:35%;
    margin-bottom: 2px;
    margin-right: 4px;
}

.middle{
    background: white;
    position: sticky;
    top: 0;

}
.high{
    position: relative;
    left:2%;
}
.breadth{
    width: 20px;
    position: relative;
    left: 5%;
}
.height{
    position: relative;
    left: 4%;
}
.breadth1
{
   margin-left: 10px;
}
